Repository Calciumdibromid/CaBr2: changes, and which Woodpecker steps are due for each by the changed paths.
All: crates, frontend, tauri-app, wasm-lib, webserver

.woodpecker/crates.yml:

pipeline:
  crates:
    image: a6543/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/crates.yml'
        - 'crates/**'

    commands:
      - rustup default stable
      - cd crates
      - cargo fmt -- --check
      - cargo clippy --workspace --all-features -- --deny clippy::all --deny warnings
      - cargo build --workspace --all-features
      - cargo test --workspace --all-features

.woodpecker/frontend.yml:

branches: ["develop", "main"]

pipeline:
  frontend:
    image: a6543/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/frontend.yml'
        - 'frontend/src/**'
        - 'frontend/*.json'
        - 'frontend/*.js'
        - 'frontend/.prettierignore'
        - 'frontend/yarn.lock'
        - 'frontend/src-wasm/**'

    commands:
      - rustup default stable
      - cd frontend
      - yarn install --frozen-lockfile
      - yarn prettier -c src
      - yarn lint
      - yarn ng build --configuration production
      # debug compiles faster and everything gets checked in the dedicated wasm ci pipeline
      - yarn wasm_lib:debug
      - yarn ng build --configuration webProd

.woodpecker/tauri-app.yml:

pipeline:
  tauri-app:
    image: a6543/cabr2_ci:root
    pull: true
    when:
      event:
        - pull_request
      branch:
        - develop
        - main
      path:
        - '.woodpecker/tauri-app.yml'
        - 'frontend/src-tauri/**'

    commands:
      - rustup default stable
      # Fix build
      - mkdir -p frontend/dist/CaBr2 && echo "Hello" > frontend/dist/CaBr2/index.html
      - cd frontend/src-tauri
      - cargo fmt -- --check
      - cargo clippy --all-features -- --deny clippy::all --deny warnings
      - cargo build --all-features
      # does not work, because we need an `yarn install` before
      # - yarn build:release

      # TODO(692) reactivate when tests are written
      #- cargo test --all-features

.woodpecker/wasm-lib.yml:

pipeline:
  wasm-lib:
    image: a6543/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/wasm-lib.yml'
        - 'frontend/src-wasm/**'

    commands:
      - rustup default stable
      - cd frontend/src-wasm
      - cargo fmt -- --check
      - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
      - wasm-pack build --out-dir ../cabr2_wasm --dev -- --features debug_build
      - wasm-pack build --out-dir ../cabr2_wasm --release

      # TODO(692) reactivate when tests are written
      #- cargo test --locked --all-features

.woodpecker/webserver.yml:

branches: ["develop", "main"]

pipeline:
  webserver:
    image: a6543/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/webserver.yml'
        - 'webserver/**'

    commands:
      - rustup default stable
      - cd webserver
      - cargo fmt -- --check
      - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
      - cargo build --locked --all-features
      - cargo build --locked --all-features --release

      # TODO(692) reactivate when tests are written
      #- cargo test --all-features

Update dependency tslib to v2.4.0 (#1317)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.21.0 (#1319)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-jsdoc to v39.2.9 (#1320)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @tauri-apps/api to v1.0.0-rc.4 (#1321)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @tauri-apps/cli to v1.0.0-rc.9 (#1324)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate tokio to 1.18.0 (#1327)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, tauri-app, webserver

Update Rust crate tauri-build to 1.0.0-rc.7 (#1323)
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/src-tauri/tauri.conf.json
Due: tauri-app

Update Rust crate tauri to 1.0.0-rc.8 (#1322)
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
Due: tauri-app

Update angular monorepo to v13.3.5 (#1328)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v13.3.5 (#1330)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v13.3.4 (#1329)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Fix cors issue (#1331)
  webserver/src/main.rs
Due: webserver

Update dependency typescript to v4.6.4 (#1333)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.22.0 (#1338)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Remove unused cache folder (#1332)
  webserver/src/impls/load_save.rs
  webserver/src/main.rs
Due: webserver

Update Rust crate log to 0.4.17 (#1339)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update angular monorepo to v13.3.6 (#1341)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v13.3.5 (#1340)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v13.3.6 (#1342)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint to v8.15.0 (#1343)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.23.0 (#1345)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency jasmine-core to v4.1.1 (#1346)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update tauri monorepo (#1344)
  frontend/package.json
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/yarn.lock
Due: frontend, tauri-app

Update Rust crate tauri to 1.0.0-rc.10 (#1347)
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
Due: tauri-app

Update angular monorepo to v13.3.7 (#1348)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v13.3.7 (#1349)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate tokio to 1.18.2 (#1337)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, tauri-app, webserver

Update Rust crate serde_json to 1.0.81 (#1334)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate thiserror to 1.0.31 (#1335)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate serde to 1.0.137 (#1336)
  crates/config/Cargo.toml
  crates/error-ser/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, frontend, tauri-app, wasm-lib, webserver

Use correct name for Gestis (#1353)
  crates/search/src/gestis/mod.rs
Due: crates

Update angular monorepo to v13.3.8 (#1350)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency karma to v6.3.20 (#1351)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency karma-jasmine to v5.0.1 (#1352)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Remove base64 encoding from wasm boundary (#1358)
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  frontend/src-wasm/src/lib.rs
  frontend/src/app/@core/services/loadSave/web/loadSave.service.ts
Due: frontend, wasm-lib

Update typescript-eslint monorepo to v5.25.0 (#1357)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate handlebars to 4.3.0 (#1359)
  crates/load_save/Cargo.toml
  frontend/src-tauri/Cargo.lock
  webserver/Cargo.lock
Due: crates, tauri-app, webserver

Update tauri monorepo (#1360)
  frontend/package.json
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/yarn.lock
Due: frontend, tauri-app

Update angular monorepo to v13.3.9 (#1361)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v13.3.6 (#1362)
  frontend/package.json
  frontend/yarn.lock
Due: frontend
