Repository Calciumdibromid/CaBr2: changes, and which Woodpecker steps are due for each by the changed paths.
All: crates, frontend, tauri-app, wasm-lib, webserver

crates:
  image: codeberg.org/calciumdibromid/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd crates
  - cargo fmt -- --check
  - cargo clippy --workspace --all-features -- --deny clippy::all --deny warnings
  - cargo build --workspace --all-features
  - cargo test --workspace --all-features

frontend:
  image: a6543/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd frontend
  - yarn install --frozen-lockfile
  - yarn prettier -c src
  - yarn lint
  - yarn ng build --configuration production
  - yarn wasm_lib:debug
  - yarn ng build --configuration webProd

tauri-app:
  image: a6543/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - mkdir -p frontend/dist/CaBr2 && echo "Hello" > frontend/dist/CaBr2/index.html
  - cd frontend/src-tauri
  - cargo fmt -- --check
  - cargo clippy --all-features -- --deny clippy::all --deny warnings
  - cargo build --all-features

wasm-lib:
  image: codeberg.org/calciumdibromid/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd frontend/src-wasm
  - cargo fmt -- --check
  - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
  - wasm-pack build --out-dir ../cabr2_wasm --dev -- --features debug_build
  ...

webserver:
  image: a6543/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd webserver
  - cargo fmt -- --check
  - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
  - cargo build --locked --all-features
  - cargo build --locked --all-features --release

Update dependency jasmine-core to v4.4.0 (#1534)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.36.2 (#1536)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular monorepo to v14.2.1 (#1538)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v14.2.2 (#1539)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v14.2.1 (#1537)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-eslint monorepo to v14.0.4 (#1540)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint to v8.23.1 (#1543)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate tokio to 1.21.1 (#1546)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, tauri-app, webserver

Update angular monorepo to v14.2.2 (#1548)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v14.2.2 (#1547)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate env_logger to 0.9.1 (#1551)
  crates/search/Cargo.toml
Due: crates

Update rust-wasm-bindgen monorepo (#1544)
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  frontend/src-wasm/src/lib.rs
Due: frontend, wasm-lib

Update Rust crate handlebars to 4.3.4 (#1542)
  crates/load_save/Cargo.toml
  frontend/src-tauri/Cargo.lock
  webserver/Cargo.lock
Due: crates, tauri-app, webserver

Update Rust crate thiserror to 1.0.35 (#1535)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  webserver/Cargo.lock
Due: crates, tauri-app, webserver

Update Rust crate once_cell to 1.15.0 (#1556)
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: webserver

Update Rust crate reqwest to 0.11.12 (#1555)
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate serde to 1.0.145 (#1558)
  crates/config/Cargo.toml
  crates/error-ser/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, frontend, tauri-app, wasm-lib, webserver

fix clippy lints for rust 1.64 (#1559)
  crates/load_save/src/handler.rs
Due: crates

fix/quick-xml (#1553)
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  crates/search/src/gestis/functions.rs
  crates/search/src/gestis/xml_parser.rs
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update angular monorepo to v14.2.3 (#1557)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v14.2.3 (#1550)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint to v8.24.0 (#1560)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.38.0 (#1545)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-eslint monorepo to v14.1.2 (#1552)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency typescript to v4.8.3 (#1541)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency karma to v6.4.1 (#1554)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update tauri monorepo (#1549)
  frontend/package.json
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/yarn.lock
Due: frontend, tauri-app

Update dependency typescript to v4.8.4 (#1565)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.38.1 (#1563)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency rxjs to v7.5.7 (#1562)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate tokio to 1.21.2 (#1566)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, tauri-app, webserver

Update Rust crate warp to 0.3.3 (#1564)
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: webserver

Update angular-cli monorepo to v14.2.4 (#1567)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate thiserror to 1.0.37 (#1561)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update angular monorepo to v14.2.4 (#1569)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v14.2.3 (#1568)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate serde-wasm-bindgen to 0.4.5 (#1570)
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
Due: frontend, wasm-lib

Update typescript-eslint monorepo to v5.39.0 (#1572)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate handlebars to 4.3.5 (#1573)
  crates/load_save/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update angular monorepo to v14.2.5 (#1574)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Path conditions:
  crates: any of: .woodpecker/crates.yml, crates/**
  frontend: any of: .woodpecker/frontend.yml, frontend/src/**, frontend/*.json, frontend/*.js, frontend/.prettierignore, frontend/yarn.lock, frontend/src-wasm/**
  tauri-app: any of: .woodpecker/tauri-app.yml, frontend/src-tauri/**
  wasm-lib: any of: .woodpecker/wasm-lib.yml, frontend/src-wasm/**
  webserver: any of: .woodpecker/webserver.yml, webserver/**
