Repository Calciumdibromid/CaBr2: changes, and which Woodpecker steps are due for each by the changed paths.
All: crates, frontend, tauri-app, wasm-lib, webserver

crates:
  image: codeberg.org/calciumdibromid/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd crates
  - cargo fmt -- --check
  - cargo clippy --workspace --all-features -- --deny clippy::all --deny warnings
  - cargo build --workspace --all-features
  - cargo test --workspace --all-features

frontend:
  image: codeberg.org/calciumdibromid/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - rustc -V
  - cargo -V
  - node -v
  - yarn --version
  - cd frontend
  - yarn install --frozen-lockfile
  - yarn prettier -c src
  - yarn lint
  - yarn ng build --configuration production
  - yarn wasm_lib:debug
  ...

tauri-app:
  image: codeberg.org/calciumdibromid/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - mkdir -p frontend/dist/CaBr2 && echo "Hello" > frontend/dist/CaBr2/index.html
  - cd frontend/src-tauri
  - cargo fmt -- --check
  - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
  ...

wasm-lib:
  image: codeberg.org/calciumdibromid/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd frontend/src-wasm
  - cargo fmt -- --check
  - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
  - wasm-pack build --out-dir ../cabr2_wasm --dev -- --features debug_build
  ...

webserver:
  image: codeberg.org/calciumdibromid/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd webserver
  - cargo fmt -- --check
  - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
  - cargo build --locked --all-features
  - cargo build --locked --all-features --release

Update dependency eslint-plugin-deprecation to v1.4.1 (#1849)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v15.2.6 (#1850)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular monorepo to v15.2.6 (#1851)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate uuid to 1.3.1 (#1854)
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: webserver

Update Rust crate lopdf to 0.30.0 (#1857)
  crates/load_save/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate serde to 1.0.160 (#1859)
  crates/config/Cargo.toml
  crates/error-ser/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate regex to 1.7.3 (#1827)
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
Due: crates, tauri-app, webserver

Update Rust crate serde_json to 1.0.96 (#1864)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate quick-xml to 0.28.2 (#1862)
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update dependency eslint to v8.39.0 (#1852)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

fix clippy warnings (#1871)
  crates/search/src/handler.rs
Due: crates, tauri-app, webserver

fix missing background styles of the alertsnackbars after angular 15 update (#1855)
  frontend/src/styles.scss
Due: frontend

remove manual component which is no longer used (#1856)
  frontend/src/app/app.module.ts
  frontend/src/app/components/manual/manual.component.html
  frontend/src/app/components/manual/manual.component.scss
  frontend/src/app/components/manual/manual.component.spec.ts
  frontend/src/app/components/manual/manual.component.ts
Due: frontend

Update dependency eslint-plugin-jsdoc to v40.3.0 (#1853)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.59.1 (#1858)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular monorepo to v15.2.8 (#1863)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v15.2.8 (#1865)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @types/node to v18.16.2 (#1868)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency karma-chrome-launcher to v3.2.0 (#1869)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency karma to v6.4.2 (#1870)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency prettier to v2.8.8 (#1872)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency rxjs to v7.8.1 (#1873)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate uuid to 1.3.2 (#1880)
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: webserver

Update Rust crate warp to 0.3.5 (#1877)
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: webserver

Update Rust crate tokio to 1.28.0 (#1875)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, tauri-app, webserver

Update dependency @types/node to v18.16.3 (#1879)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.59.2 (#1881)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate reqwest to 0.11.17 (#1878)
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate regex to 1.8.1 (#1874)
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update tauri monorepo to v1.3.0 (#1883)
  frontend/package.json
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/yarn.lock
Due: frontend, tauri-app

Update Rust crate serde to 1.0.162 (#1891)
  crates/config/Cargo.toml
  crates/error-ser/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, frontend, tauri-app, wasm-lib, webserver

update to angular v16 (#1893)
  frontend/.eslintrc.json
  frontend/package.json
  frontend/src/app/components/edit-substance-data/edit-substance-data.component.ts
  frontend/yarn.lock
Due: frontend

Improve documentation (#1848)
  CONTRIBUTING.md
  CaBr2.code-workspace
  README.md
  frontend/README.md
  frontend/src-tauri/.vscode/launch.json
  webserver/.vscode/launch.json
  webserver/README.md
Due: tauri-app, webserver

Update dependency @types/node to v18.16.13 (#1892)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency typescript to v5 (#1841)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @ngneat/transloco to v4.2.7 (#1900)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency tslib to v2.5.2 (#1901)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update ngxs-store monorepo to v3.8.1 (#1902)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate tokio to 1.28.1 (#1897)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, tauri-app, webserver

Update rust-wasm-bindgen monorepo (#1903)
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
Due: frontend, wasm-lib

Path conditions:
  crates: any of: .woodpecker/crates.yml, crates/**
  frontend: any of: .woodpecker/frontend.yml, frontend/src/**, frontend/*.json, frontend/*.js, frontend/.prettierignore, frontend/yarn.lock, frontend/src-wasm/**
  tauri-app: any of: .woodpecker/tauri-app.yml, frontend/src-tauri/**, crates/**
  wasm-lib: any of: .woodpecker/wasm-lib.yml, frontend/src-wasm/**
  webserver: any of: .woodpecker/webserver.yml, webserver/**, crates/**
