Repository Calciumdibromid/CaBr2: changes, and which Woodpecker steps are due for each by the changed paths.
All: crates, frontend, tauri-app, wasm-lib, webserver

crates:
  image: a6543/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd crates
  - cargo fmt -- --check
  - cargo clippy --workspace --all-features -- --deny clippy::all --deny warnings
  - cargo build --workspace --all-features
  - cargo test --workspace --all-features

frontend:
  image: a6543/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd frontend
  - yarn install --frozen-lockfile
  - yarn prettier -c src
  - yarn lint
  - yarn ng build --configuration production
  - yarn wasm_lib:debug
  - yarn ng build --configuration webProd

tauri-app:
  image: a6543/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - mkdir -p frontend/dist/CaBr2 && echo "Hello" > frontend/dist/CaBr2/index.html
  - cd frontend/src-tauri
  - cargo fmt -- --check
  - cargo clippy --all-features -- --deny clippy::all --deny warnings
  - cargo build --all-features

wasm-lib:
  image: a6543/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd frontend/src-wasm
  - cargo fmt -- --check
  - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
  - wasm-pack build --out-dir ../cabr2_wasm --dev -- --features debug_build
  ...

webserver:
  image: a6543/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd webserver
  - cargo fmt -- --check
  - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
  - cargo build --locked --all-features
  - cargo build --locked --all-features --release

Update tauri monorepo (#1416)
  frontend/package.json
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/yarn.lock
Due: frontend, tauri-app

Update dependency eslint to v8.17.0 (#1395)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.28.0 (#1409)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency prettier to v2.7.0 (#1414)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency karma to v6.4.0 (#1412)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency jasmine-core to v4.2.0 (#1407)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v14.0.2 (#1418)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update tauri monorepo (#1419)
  frontend/package.json
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/yarn.lock
Due: frontend, tauri-app

Update rust-wasm-bindgen monorepo (#1415)
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
Due: frontend, wasm-lib

Update angular monorepo (#1420)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency prettier to v2.7.1 (#1423)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update tauri monorepo to v1.0.0 (#1421)
  frontend/package.json
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/yarn.lock
Due: frontend, tauri-app

Update dependency karma-jasmine to v5.1.0 (#1422)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v14.0.2 (#1425)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency typescript to v4.7.4 (#1426)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint to v8.18.0 (#1427)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-jsdoc to v39.3.3 (#1428)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @tauri-apps/api to v1.0.1 (#1424)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.29.0 (#1429)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular monorepo to v14.0.3 (#1431)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Disable angular cli telemetry (#1430)
  frontend/angular.json
Due: frontend

Update angularmaterial monorepo to v14.0.3 (#1432)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-eslint monorepo to v14.0.0 (#1433)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v14.0.3 (#1434)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.30.0 (#1436)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-prettier to v4.1.0 (#1435)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular monorepo to v14.0.4 (#1437)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v14.0.4 (#1441)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v14.0.4 (#1439)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-prettier to v4.2.1 (#1442)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update tauri monorepo to v1.0.2 (#1440)
  frontend/package.json
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/yarn.lock
Due: frontend, tauri-app

Update Rust crate serde_json to 1.0.82 (#1438)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate serde to 1.0.138 (#1445)
  crates/config/Cargo.toml
  crates/error-ser/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate once_cell to 1.12.1 (#1447)
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: webserver

Update dependency eslint to v8.19.0 (#1444)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate once_cell to 1.13.0 (#1448)
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: webserver

Update Rust crate regex to 1.6.0 (#1449)
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update angular-cli monorepo to v14.0.5 (#1450)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular monorepo to v14.0.5 (#1451)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.30.5 (#1443)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Path conditions:
  crates: any of: .woodpecker/crates.yml, crates/**
  frontend: any of: .woodpecker/frontend.yml, frontend/src/**, frontend/*.json, frontend/*.js, frontend/.prettierignore, frontend/yarn.lock, frontend/src-wasm/**
  tauri-app: any of: .woodpecker/tauri-app.yml, frontend/src-tauri/**
  wasm-lib: any of: .woodpecker/wasm-lib.yml, frontend/src-wasm/**
  webserver: any of: .woodpecker/webserver.yml, webserver/**
