Repository Calciumdibromid/CaBr2: changes, and which Woodpecker steps are due for each by the changed paths.
All: crates, frontend, tauri-app, wasm-lib, webserver

.woodpecker/crates.yml:

pipeline:
  crates:
    image: a6543/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/crates.yml'
        - 'crates/**'

    commands:
      - rustup default stable
      - cd crates
      - cargo fmt -- --check
      - cargo clippy --workspace --all-features -- --deny clippy::all --deny warnings
      - cargo build --workspace --all-features
      - cargo test --workspace --all-features

.woodpecker/frontend.yml:

branches: ["develop", "main"]

pipeline:
  frontend:
    image: a6543/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/frontend.yml'
        - 'frontend/src/**'
        - 'frontend/*.json'
        - 'frontend/*.js'
        - 'frontend/.prettierignore'
        - 'frontend/yarn.lock'
        - 'frontend/src-wasm/**'

    commands:
      - rustup default stable
      - cd frontend
      - yarn install --frozen-lockfile
      - yarn prettier -c src
      - yarn lint
      - yarn ng build --configuration production
      # debug compiles faster and everything gets checked in the dedicated wasm ci pipeline
      - yarn wasm_lib:debug
      - yarn ng build --configuration webProd

.woodpecker/tauri-app.yml:

pipeline:
  tauri-app:
    image: a6543/cabr2_ci:root
    pull: true
    when:
      event:
        - pull_request
      branch:
        - develop
        - main
      path:
        - '.woodpecker/tauri-app.yml'
        - 'frontend/src-tauri/**'

    commands:
      - rustup default stable
      # Fix build
      - mkdir -p frontend/dist/CaBr2 && echo "Hello" > frontend/dist/CaBr2/index.html
      - cd frontend/src-tauri
      - cargo fmt -- --check
      - cargo clippy --all-features -- --deny clippy::all --deny warnings
      - cargo build --all-features
      # does not work, because we need an `yarn install` before
      # - yarn build:release

      # TODO(692) reactivate when tests are written
      #- cargo test --all-features

.woodpecker/wasm-lib.yml:

pipeline:
  wasm-lib:
    image: a6543/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/wasm-lib.yml'
        - 'frontend/src-wasm/**'

    commands:
      - rustup default stable
      - cd frontend/src-wasm
      - cargo fmt -- --check
      - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
      - wasm-pack build --out-dir ../cabr2_wasm --dev -- --features debug_build
      - wasm-pack build --out-dir ../cabr2_wasm --release

      # TODO(692) reactivate when tests are written
      #- cargo test --locked --all-features

.woodpecker/webserver.yml:

branches: ["develop", "main"]

pipeline:
  webserver:
    image: a6543/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/webserver.yml'
        - 'webserver/**'

    commands:
      - rustup default stable
      - cd webserver
      - cargo fmt -- --check
      - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
      - cargo build --locked --all-features
      - cargo build --locked --all-features --release

      # TODO(692) reactivate when tests are written
      #- cargo test --all-features

Update angular monorepo to v13.3.1 (#1277)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v13.3.1 (#1276)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @types/jasmine to v4.0.2 (#1273)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-config-airbnb-typescript to v16.2.0 (#1278)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency prettier to v2.6.2 (#1280)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-config-airbnb-typescript to v17 (#1283)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-jsdoc to v38.1.6 (#1279)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.18.0 (#1282)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate wasm-bindgen to v0.2.80 (#1289)
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
Due: frontend, wasm-lib

Update Rust crate wasm-bindgen-futures to 0.4.30 (#1290)
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
Due: frontend, wasm-lib

Update angular-eslint monorepo to v13.2.0 (#1281)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-import to v2.26.0 (#1284)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate regex to 1.5.5 (#1294)
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, wasm-lib, webserver

Update angular monorepo to v13.3.2 (#1285)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v13.3.2 (#1286)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-jsdoc to v39 (#1293)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-jsdoc to v39.0.1 (#1295)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint to v8.13.0 (#1296)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Restructure SubstanceData (#1288)
  crates/load_save/Cargo.toml
  crates/load_save/src/beryllium/mod.rs
  crates/load_save/src/cabr2/migrations.rs
  crates/load_save/src/cabr2/mod.rs
  crates/load_save/src/cabr2/tests.rs
  crates/load_save/src/cabr2/types.rs
  crates/load_save/src/pdf/types.rs
  crates/load_save/src/types.rs
  crates/load_save/tests/assets/Knallerbsen_v0.cb2
  crates/load_save/tests/assets/Knallerbsen_v1.cb2
  crates/load_save/tests/assets/all_v0.cb2
  crates/load_save/tests/assets/all_v1.cb2
  crates/load_save/tests/assets/empty_v0.cb2
  crates/load_save/tests/assets/empty_v1.cb2
  crates/search/src/gestis/mod.rs
  crates/types/src/lib.rs
Due: crates

Update dependency eslint-plugin-jsdoc to v39.1.0 (#1297)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

feature/frontend-new-substance-data (#1298)
  assets/templates/first.html
  assets/translations/de_by.json
  assets/translations/de_de.json
  assets/translations/en_us.json
  assets/translations/hr_hr.json
  assets/translations/ru_ru.json
  crates/load_save/src/cabr2/migrations.rs
  crates/load_save/src/cabr2/types.rs
  crates/load_save/tests/assets/Knallerbsen_v1.cb2
  crates/load_save/tests/assets/all_v1.cb2
  crates/types/src/lib.rs
  frontend/src/app/@core/interfaces/DocTemplate.ts
  frontend/src/app/@core/models/header.model.ts
  frontend/src/app/@core/models/substances.model.ts
  frontend/src/app/@core/services/document/document.service.ts
  frontend/src/app/@core/services/loadSave/web/loadSave.service.ts
  frontend/src/app/@core/states/substance-data.state.ts
  frontend/src/app/components/edit-substance-data/edit-substance-data.component.ts
  frontend/src/app/components/header/header.component.html
  frontend/src/app/components/preview/preview.component.html
  frontend/src/app/components/preview/preview.component.ts
  frontend/src/assets/docsTemplate.json
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.ts
  frontend/src/environments/environment.web.prod.ts
  frontend/src/environments/environment.web.ts
Due: crates, frontend

Update typescript-eslint monorepo to v5.19.0 (#1299)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-jsdoc to v39.2.1 (#1300)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular monorepo to v13.3.3 (#1304)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v13.3.3 (#1306)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate toml to 0.5.9 (#1309)
  crates/config/Cargo.toml
  frontend/src-tauri/Cargo.lock
  webserver/Cargo.lock
Due: crates, tauri-app, webserver

Update angular-cli monorepo to v13.3.3 (#1305)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.20.0 (#1312)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-eslint monorepo to v13.2.1 (#1307)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-jsdoc to v39.2.4 (#1311)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @types/jasmine to v4.0.3 (#1308)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency karma to v6.3.19 (#1303)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency jasmine-core to v4.1.0 (#1301)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency karma-jasmine to v5 (#1302)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate fern to 0.6.1 (#1310)
  crates/logger/Cargo.toml
  frontend/src-tauri/Cargo.lock
  webserver/Cargo.lock
Due: crates, tauri-app, webserver

Update Rust crate uuid to v1 (#1313)
  webserver/Cargo.lock
  webserver/Cargo.toml
  webserver/src/impls/load_save.rs
Due: webserver

Update angular monorepo to v13.3.4 (#1316)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v13.3.4 (#1315)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint to v8.14.0 (#1318)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-jsdoc to v39.2.8 (#1314)
  frontend/package.json
  frontend/yarn.lock
Due: frontend
