Repository Calciumdibromid/CaBr2: changes, and which Woodpecker steps are due for each by the changed paths.
All: crates, frontend, tauri-app, wasm-lib, webserver

crates:
  image: a6543/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd crates
  - cargo fmt -- --check
  - cargo clippy --workspace --all-features -- --deny clippy::all --deny warnings
  - cargo build --workspace --all-features
  - cargo test --workspace --all-features

frontend:
  image: a6543/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd frontend
  - yarn install --frozen-lockfile
  - yarn prettier -c src
  - yarn lint
  - yarn ng build --configuration production
  - yarn wasm_lib:debug
  - yarn ng build --configuration webProd

tauri-app:
  image: a6543/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - mkdir -p frontend/dist/CaBr2 && echo "Hello" > frontend/dist/CaBr2/index.html
  - cd frontend/src-tauri
  - cargo fmt -- --check
  - cargo clippy --all-features -- --deny clippy::all --deny warnings
  - cargo build --all-features

wasm-lib:
  image: a6543/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd frontend/src-wasm
  - cargo fmt -- --check
  - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
  - wasm-pack build --out-dir ../cabr2_wasm --dev -- --features debug_build
  ...

webserver:
  image: a6543/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd webserver
  - cargo fmt -- --check
  - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
  - cargo build --locked --all-features
  - cargo build --locked --all-features --release

Update angularmaterial monorepo to v14.1.1 (#1491)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.32.0 (#1486)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate chrono to 0.4.20 (#1493)
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update typescript-eslint monorepo to v5.33.0 (#1494)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-jsdoc to v39.3.6 (#1495)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate serde to 1.0.143 (#1498)
  crates/config/Cargo.toml
  crates/error-ser/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update ngxs-store monorepo to v3.7.5 (#1497)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate chrono to 0.4.21 (#1499)
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

use codeberg as registry (#1500)
  .woodpecker/crates.yml
  .woodpecker/frontend.yml
  .woodpecker/tauri-app.yml
  .woodpecker/wasm-lib.yml
  .woodpecker/webserver.yml
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update angular monorepo to v14.1.2 (#1501)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v14.1.2 (#1502)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v14.1.2 (#1503)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

fix pipeline (#1508)
  crates/load_save/src/beryllium/types.rs
  crates/search/src/gestis/types.rs
Due: crates

Update Rust crate chrono to 0.4.22 (#1505)
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate futures to 0.3.23 (#1507)
  crates/search/Cargo.toml
Due: crates

Update dependency eslint to v8.22.0 (#1506)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency zone.js to v0.11.8 (#1504)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.33.1 (#1509)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate once_cell to 1.13.1 (#1510)
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: webserver

Update angular-cli monorepo to v14.1.3 (#1511)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular monorepo to v14.1.3 (#1512)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency webpack-bundle-analyzer to v4.6.0 (#1513)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v14.1.3 (#1515)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate serde to 1.0.144 (#1516)
  crates/config/Cargo.toml
  crates/error-ser/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate serde_json to 1.0.85 (#1517)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update typescript-eslint monorepo to v5.35.1 (#1519)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-eslint monorepo to v14.0.3 (#1521)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency webpack-bundle-analyzer to v4.6.1 (#1518)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @types/jasmine to v4.3.0 (#1520)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular monorepo to v14.2.0 (#1523)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v14.2.0 (#1524)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v14.2.0 (#1522)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate futures to 0.3.24 (#1529)
  crates/search/Cargo.toml
Due: crates

Update dependency eslint to v8.23.0 (#1527)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v14.2.1 (#1526)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.36.1 (#1530)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency typescript to v4.8.2 (#1525)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate thiserror to 1.0.33 (#1531)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate tokio to 1.21.0 (#1532)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, tauri-app, webserver

Update Rust crate once_cell to 1.14.0 (#1533)
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: webserver

Path conditions:
  crates: any of: .woodpecker/crates.yml, crates/**
  frontend: any of: .woodpecker/frontend.yml, frontend/src/**, frontend/*.json, frontend/*.js, frontend/.prettierignore, frontend/yarn.lock, frontend/src-wasm/**
  tauri-app: any of: .woodpecker/tauri-app.yml, frontend/src-tauri/**
  wasm-lib: any of: .woodpecker/wasm-lib.yml, frontend/src-wasm/**
  webserver: any of: .woodpecker/webserver.yml, webserver/**
