Repository Calciumdibromid/CaBr2: changes, and which Woodpecker steps are due for each by the changed paths.
All: crates, frontend, tauri-app, wasm-lib, webserver

.woodpecker/crates.yml:

branches: ["develop", "main"]

pipeline:
  crates:
    image: codeberg.org/calciumdibromid/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/crates.yml'
        - 'crates/**'

    commands:
      - rustup default stable
      - cd crates
      - cargo fmt -- --check
      - cargo clippy --workspace --all-features -- --deny clippy::all --deny warnings
      - cargo build --workspace --all-features
      - cargo test --workspace --all-features

.woodpecker/frontend.yml:

branches: ["develop", "main"]

pipeline:
  frontend:
    image: a6543/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/frontend.yml'
        - 'frontend/src/**'
        - 'frontend/*.json'
        - 'frontend/*.js'
        - 'frontend/.prettierignore'
        - 'frontend/yarn.lock'
        - 'frontend/src-wasm/**'

    commands:
      - rustup default stable
      - cd frontend
      - yarn install --frozen-lockfile
      - yarn prettier -c src
      - yarn lint
      - yarn ng build --configuration production
      # debug compiles faster and everything gets checked in the dedicated wasm ci pipeline
      - yarn wasm_lib:debug
      - yarn ng build --configuration webProd

.woodpecker/tauri-app.yml:

pipeline:
  tauri-app:
    image: a6543/cabr2_ci:root
    pull: true
    when:
      event:
        - pull_request
      branch:
        - develop
        - main
      path:
        - '.woodpecker/tauri-app.yml'
        - 'frontend/src-tauri/**'

    commands:
      - rustup default stable
      # Fix build
      - mkdir -p frontend/dist/CaBr2 && echo "Hello" > frontend/dist/CaBr2/index.html
      - cd frontend/src-tauri
      - cargo fmt -- --check
      - cargo clippy --all-features -- --deny clippy::all --deny warnings
      - cargo build --all-features
      # does not work, because we need an `yarn install` before
      # - yarn build:release

      # TODO(692) reactivate when tests are written
      #- cargo test --all-features

.woodpecker/wasm-lib.yml:

branches: ["develop", "main"]

pipeline:
  wasm-lib:
    image: codeberg.org/calciumdibromid/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/wasm-lib.yml'
        - 'frontend/src-wasm/**'

    commands:
      - rustup default stable
      - cd frontend/src-wasm
      - cargo fmt -- --check
      - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
      - wasm-pack build --out-dir ../cabr2_wasm --dev -- --features debug_build
      - wasm-pack build --out-dir ../cabr2_wasm --release

      # TODO(692) reactivate when tests are written
      #- cargo test --locked --all-features

.woodpecker/webserver.yml:

branches: ["develop", "main"]

pipeline:
  webserver:
    image: a6543/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/webserver.yml'
        - 'webserver/**'

    commands:
      - rustup default stable
      - cd webserver
      - cargo fmt -- --check
      - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
      - cargo build --locked --all-features
      - cargo build --locked --all-features --release

      # TODO(692) reactivate when tests are written
      #- cargo test --all-features

Update dependency eslint-plugin-jsdoc to v39.6.0 (#1623)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v14.2.8 (#1624)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular monorepo to v14.2.9 (#1626)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Fix big error enum (#1630)
  crates/load_save/src/pdf/error.rs
Due: crates

Update Rust crate env_logger to 0.9.3 (#1629)
  crates/search/Cargo.toml
Due: crates

Update Rust crate lopdf to 0.29.0 (#1614)
  crates/load_save/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update tauri monorepo to v1.2.0 (#1633)
  frontend/package.json
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/src/app/@core/services/native/tauri.service.ts
  frontend/yarn.lock
Due: frontend, tauri-app

Update Rust crate regex to 1.7.0 (#1627)
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update dependency eslint-plugin-jsdoc to v39.6.2 (#1625)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint to v8.27.0 (#1628)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.42.1 (#1631)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular monorepo (#1632)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v14.2.9 (#1634)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v14.2.7 (#1635)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate chrono to 0.4.23 (#1636)
  crates/load_save/Cargo.toml
  crates/load_save/src/beryllium/mod.rs
  crates/load_save/src/pdf/types.rs
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update dependency eslint-plugin-deprecation to v1.3.3 (#1638)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate uuid to 1.2.2 (#1640)
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: webserver

Update typescript-eslint monorepo to v5.43.0 (#1639)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-eslint monorepo to v14.2.0 (#1641)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular monorepo to v14.2.11 (#1644)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate reqwest to 0.11.13 (#1643)
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate serde_json to 1.0.89 (#1650)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate tokio to 1.22.0 (#1651)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, tauri-app, webserver

Update angular-eslint monorepo to v14.4.0 (#1648)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v14.2.10 (#1649)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint to v8.28.0 (#1652)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.44.0 (#1655)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-jsdoc to v39.6.4 (#1658)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update ngxs-store monorepo to v3.7.6 (#1659)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular monorepo to v14.2.12 (#1653)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate env_logger to 0.10.0 (#1662)
  crates/search/Cargo.toml
Due: crates

Update Rust crate serde to 1.0.148 (#1657)
  crates/config/Cargo.toml
  crates/error-ser/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update tauri monorepo to v1.2.1 (#1660)
  frontend/package.json
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/yarn.lock
Due: frontend, tauri-app

Update Rust crate async-trait to 0.1.59 (#1661)
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update dependency @types/node to v18.11.11 (#1663)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency prettier to v2.8.0 (#1665)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate serde to 1.0.149 (#1669)
  crates/config/Cargo.toml
  crates/error-ser/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update typescript-eslint monorepo to v5.46.0 (#1666)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint to v8.29.0 (#1667)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @types/jasmine to v4.3.1 (#1670)
  frontend/package.json
  frontend/yarn.lock
Due: frontend
