Repository Calciumdibromid/CaBr2: changes, and which Woodpecker steps are due for each by the changed paths.
All: crates, frontend, tauri-app, wasm-lib, webserver

.woodpecker/crates.yml:

pipeline:
  crates:
    image: a6543/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/crates.yml'
        - 'crates/**'

    commands:
      - rustup default stable
      - cd crates
      - cargo fmt -- --check
      - cargo clippy --workspace --all-features -- --deny clippy::all --deny warnings
      - cargo build --workspace --all-features
      - cargo test --workspace --all-features

.woodpecker/frontend.yml:

branches: ["develop", "main"]

pipeline:
  frontend:
    image: a6543/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/frontend.yml'
        - 'frontend/src/**'
        - 'frontend/*.json'
        - 'frontend/*.js'
        - 'frontend/.prettierignore'
        - 'frontend/yarn.lock'
        - 'frontend/src-wasm/**'

    commands:
      - rustup default stable
      - cd frontend
      - yarn install --frozen-lockfile
      - yarn prettier -c src
      - yarn lint
      - yarn ng build --configuration production
      # debug compiles faster and everything gets checked in the dedicated wasm ci pipeline
      - yarn wasm_lib:debug
      - yarn ng build --configuration webProd

.woodpecker/tauri-app.yml:

pipeline:
  tauri-app:
    image: a6543/cabr2_ci:root
    pull: true
    when:
      event:
        - pull_request
      branch:
        - develop
        - main
      path:
        - '.woodpecker/tauri-app.yml'
        - 'frontend/src-tauri/**'

    commands:
      - rustup default stable
      # Fix build
      - mkdir -p frontend/dist/CaBr2 && echo "Hello" > frontend/dist/CaBr2/index.html
      - cd frontend/src-tauri
      - cargo fmt -- --check
      - cargo clippy --all-features -- --deny clippy::all --deny warnings
      - cargo build --all-features
      # does not work, because we need an `yarn install` before
      # - yarn build:release

      # TODO(692) reactivate when tests are written
      #- cargo test --all-features

.woodpecker/wasm-lib.yml:

pipeline:
  wasm-lib:
    image: a6543/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/wasm-lib.yml'
        - 'frontend/src-wasm/**'

    commands:
      - rustup default stable
      - cd frontend/src-wasm
      - cargo fmt -- --check
      - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
      - wasm-pack build --out-dir ../cabr2_wasm --dev -- --features debug_build
      - wasm-pack build --out-dir ../cabr2_wasm --release

      # TODO(692) reactivate when tests are written
      #- cargo test --locked --all-features

.woodpecker/webserver.yml:

branches: ["develop", "main"]

pipeline:
  webserver:
    image: a6543/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/webserver.yml'
        - 'webserver/**'

    commands:
      - rustup default stable
      - cd webserver
      - cargo fmt -- --check
      - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
      - cargo build --locked --all-features
      - cargo build --locked --all-features --release

      # TODO(692) reactivate when tests are written
      #- cargo test --all-features

Update dependency ts-node to v10.8.2 (#1446)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update tauri monorepo (#1452)
  frontend/package.json
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/yarn.lock
Due: frontend, tauri-app

Update angular-eslint monorepo to v14.0.2 (#1453)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency rxjs to v7.5.6 (#1455)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.30.6 (#1456)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate serde to 1.0.139 (#1454)
  crates/config/Cargo.toml
  crates/error-ser/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update dependency @ngneat/transloco to v4.1.1 (#1457)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular monorepo to v14.0.6 (#1459)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v14.0.6 (#1460)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency ts-node to v10.9.1 (#1461)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate tokio to 1.20.0 (#1458)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, tauri-app, webserver

Update Rust crate handlebars to 4.3.2 (#1462)
  crates/load_save/Cargo.toml
  frontend/src-tauri/Cargo.lock
  webserver/Cargo.lock
Due: crates, tauri-app, webserver

Update angularmaterial monorepo to v14.0.5 (#1463)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update tauri monorepo to v1.0.4 (#1464)
  frontend/package.json
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/yarn.lock
Due: frontend, tauri-app

Update dependency eslint to v8.20.0 (#1466)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.30.7 (#1467)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate handlebars to 4.3.3 (#1468)
  crates/load_save/Cargo.toml
  frontend/src-tauri/Cargo.lock
  webserver/Cargo.lock
Due: crates, tauri-app, webserver

Update angularmaterial monorepo to v14.0.6 (#1469)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v14.1.0 (#1470)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular monorepo to v14.1.0 (#1472)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v14.1.0 (#1473)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate serde to 1.0.140 (#1471)
  crates/config/Cargo.toml
  crates/error-ser/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update dependency zone.js to v0.11.7 (#1474)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate tokio to 1.20.1 (#1478)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, tauri-app, webserver

Update rust-wasm-bindgen monorepo (#1479)
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
Due: frontend, wasm-lib

Update typescript-eslint monorepo to v5.31.0 (#1480)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency jasmine-core to v4.3.0 (#1477)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate lopdf to 0.28.0 (#1476)
  crates/load_save/Cargo.toml
  frontend/src-tauri/Cargo.lock
  webserver/Cargo.lock
Due: crates, tauri-app, webserver

Update tauri monorepo to v1.0.5 (#1475)
  frontend/package.json
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/yarn.lock
Due: frontend, tauri-app

fix lopdf dependency (#1482)
  crates/load_save/Cargo.toml
  frontend/src-tauri/Cargo.lock
  webserver/Cargo.lock
Due: crates, tauri-app, webserver

Update dependency eslint-plugin-jsdoc to v39.3.4 (#1481)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint to v8.21.0 (#1483)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate async-trait to 0.1.57 (#1484)
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
Due: crates

Update Rust crate serde to 1.0.141 (#1485)
  crates/config/Cargo.toml
  crates/error-ser/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, frontend, wasm-lib, webserver

update lock files
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: frontend, wasm-lib, webserver

Update Rust crate thiserror to 1.0.32 (#1487)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate serde to 1.0.142 (#1488)
  crates/config/Cargo.toml
  crates/error-ser/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, frontend, wasm-lib, webserver

Update Rust crate serde_json to 1.0.83 (#1489)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update angular monorepo to v14.1.1 (#1490)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v14.1.1 (#1492)
  frontend/package.json
  frontend/yarn.lock
Due: frontend
