Repository Calciumdibromid/CaBr2: changes, and which Woodpecker steps are due for each by the changed paths.
All: crates, frontend, tauri-app, wasm-lib, webserver

crates:
  image: a6543/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd crates
  - cargo fmt -- --check
  - cargo clippy --workspace --all-features -- --deny clippy::all --deny warnings
  - cargo build --workspace --all-features
  - cargo test --workspace --all-features

frontend:
  image: a6543/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd frontend
  - yarn install --frozen-lockfile
  - yarn prettier -c src
  - yarn lint
  - yarn ng build --configuration production
  - yarn wasm_lib:debug
  - yarn ng build --configuration webProd

tauri-app:
  image: a6543/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - mkdir -p frontend/dist/CaBr2 && echo "Hello" > frontend/dist/CaBr2/index.html
  - cd frontend/src-tauri
  - cargo fmt -- --check
  - cargo clippy --all-features -- --deny clippy::all --deny warnings
  - cargo build --all-features

wasm-lib:
  image: a6543/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd frontend/src-wasm
  - cargo fmt -- --check
  - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
  - wasm-pack build --out-dir ../cabr2_wasm --dev -- --features debug_build
  ...

webserver:
  image: a6543/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd webserver
  - cargo fmt -- --check
  - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
  - cargo build --locked --all-features
  - cargo build --locked --all-features --release

Update dependency eslint-plugin-jsdoc to v39.3.0 (#1363)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Use name of preparation for filename (#1356)
  assets/translations/de_de.json
  assets/translations/en_us.json
  frontend/src/app/@core/services/document/document.service.ts
  frontend/src/app/@core/services/loadSave/web/loadSave.service.ts
  frontend/src/app/@core/services/native/web/browser.service.ts
Due: frontend

Update Rust crate once_cell to 1.11.0 (#1364)
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: webserver

Update Rust crate once_cell to 1.12.0 (#1368)
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: webserver

Update typescript-eslint monorepo to v5.26.0 (#1369)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint to v8.16.0 (#1366)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-jsdoc to v39.3.2 (#1370)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency ts-node to v10.8.0 (#1367)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate uuid to 1.1.0 (#1373)
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: webserver

Update tauri monorepo (#1372)
  frontend/package.json
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/yarn.lock
Due: frontend, tauri-app

Update tauri monorepo (#1378)
  frontend/package.json
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/yarn.lock
Due: frontend, tauri-app

Update angular-cli monorepo to v13.3.7 (#1379)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular monorepo to v13.3.10 (#1380)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate regex to 1.5.6 (#1365)
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, wasm-lib, webserver

Update angularmaterial monorepo to v13.3.8 (#1381)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency karma-jasmine-html-reporter to v2 (#1382)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate reqwest to 0.11.10 (#1376)
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate quick-xml to 0.23.0 (#1377)
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update all dependencies (#1383)
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: frontend, tauri-app, wasm-lib, webserver

Update typescript-eslint monorepo to v5.27.0 (#1385)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate uuid to 1.1.1 (#1387)
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: webserver

Update angular monorepo to v13.3.11 (#1386)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate async-trait to 0.1.56 (#1392)
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate tokio to 1.19.1 (#1394)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, tauri-app, webserver

Update Rust crate tokio to 1.19.2 (#1398)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, tauri-app, webserver

Update Rust crate handlebars to 4.3.1 (#1400)
  crates/load_save/Cargo.toml
  frontend/src-tauri/Cargo.lock
  webserver/Cargo.lock
Due: crates, tauri-app, webserver

Upgrade Angular to v14 (#1397)
  frontend/angular.json
  frontend/package.json
  frontend/src/app/@core/utils/forms.helper.ts
  frontend/src/app/components/edit-substance-data/edit-substance-data.component.ts
  frontend/src/app/components/header/header.component.ts
  frontend/src/app/components/modifiable-string-list/modifiable-string-list.component.ts
  frontend/src/app/components/modifiable-string-list/text-area-field/text-area-field.component.ts
  frontend/src/app/components/search/selected-search/selected-search.component.ts
  frontend/src/app/components/security-things/security-things.component.ts
  frontend/src/app/components/settings/settings.component.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Due: frontend

Update Rust crate uuid to 1.1.2 (#1403)
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: webserver

Update dependency typescript to v4.7.3 (#1371)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update ngxs-store monorepo to v3.7.4 (#1401)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency ts-node to v10.8.1 (#1393)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

change lifecycle hook to prevent undefined error (#1405)
  frontend/src/app/@core/directives/autofocus.directive.ts
Due: frontend

Update angular monorepo to v14.0.1 (#1404)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v14.0.1 (#1388)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v14.0.1 (#1406)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @ngneat/transloco to v4.1.0 (#1396)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-eslint monorepo to v14.0.0-alpha.3 (#1408)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.27.1 (#1399)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate reqwest to 0.11.11 (#1411)
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update tauri monorepo (#1413)
  frontend/package.json
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/yarn.lock
Due: frontend, tauri-app

Path conditions:
  crates: any of: .woodpecker/crates.yml, crates/**
  frontend: any of: .woodpecker/frontend.yml, frontend/src/**, frontend/*.json, frontend/*.js, frontend/.prettierignore, frontend/yarn.lock, frontend/src-wasm/**
  tauri-app: any of: .woodpecker/tauri-app.yml, frontend/src-tauri/**
  wasm-lib: any of: .woodpecker/wasm-lib.yml, frontend/src-wasm/**
  webserver: any of: .woodpecker/webserver.yml, webserver/**
