Repository Calciumdibromid/CaBr2: changes, and which Woodpecker steps are due for each by the changed paths.
All: crates, frontend, tauri-app, wasm-lib, webserver

crates:
  image: codeberg.org/calciumdibromid/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd crates
  - cargo fmt -- --check
  - cargo clippy --workspace --all-features -- --deny clippy::all --deny warnings
  - cargo build --workspace --all-features
  - cargo test --workspace --all-features

frontend:
  image: codeberg.org/calciumdibromid/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - rustc -V
  - cargo -V
  - node -v
  - yarn --version
  - cd frontend
  - yarn install --frozen-lockfile
  - yarn prettier -c src
  - yarn lint
  - yarn ng build --configuration production
  - yarn wasm_lib:debug
  ...

tauri-app:
  image: codeberg.org/calciumdibromid/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - mkdir -p frontend/dist/CaBr2 && echo "Hello" > frontend/dist/CaBr2/index.html
  - cd frontend/src-tauri
  - cargo fmt -- --check
  - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
  ...

wasm-lib:
  image: codeberg.org/calciumdibromid/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd frontend/src-wasm
  - cargo fmt -- --check
  - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
  - wasm-pack build --out-dir ../cabr2_wasm --dev -- --features debug_build
  ...

webserver:
  image: codeberg.org/calciumdibromid/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd webserver
  - cargo fmt -- --check
  - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
  - cargo build --locked --all-features
  - cargo build --locked --all-features --release

Update Rust crate serde-wasm-bindgen to 0.5.0 (#1810)
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
Due: frontend, wasm-lib

Update Rust crate thiserror to 1.0.39 (#1808)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate console_log to 0.2.2 (#1814)
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
Due: frontend, wasm-lib

Update Rust crate serde to 1.0.156 (#1812)
  crates/config/Cargo.toml
  crates/error-ser/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  crates/search/src/gestis/functions.rs
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate chrono to 0.4.24 (#1815)
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-wasm/Cargo.toml
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate futures to 0.3.27 (#1816)
  crates/search/Cargo.toml
Due: crates, tauri-app, webserver

Update Rust crate toml to 0.7.3 (#1817)
  crates/config/Cargo.toml
Due: crates, tauri-app, webserver

Update Rust crate quick-xml to 0.28.0 (#1818)
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Generalize SearchResponse type (#1819)
  crates/search/src/gestis/mod.rs
  crates/search/src/gestis/types.rs
  crates/search/src/types.rs
  frontend/src/app/@core/services/provider/provider.interface.ts
  frontend/src/app/@core/services/provider/provider.model.ts
  frontend/src/app/components/search/search.component.ts
Due: crates, frontend, tauri-app, webserver

revert Update rust-wasm-bindgen monorepo (#1766) (#1821)
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  frontend/src-wasm/src/lib.rs
  frontend/src/app/@core/services/native/web/browser.service.ts
Due: frontend, wasm-lib

Update dependency eslint-plugin-jsdoc to v40.1.0 (#1803)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @types/node to v18.15.5 (#1804)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @ngneat/transloco to v4.2.6 (#1806)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-config-prettier to v8.8.0 (#1809)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.56.0 (#1811)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint to v8.36.0 (#1820)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency jasmine-core to v4.6.0 (#1823)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.57.0 (#1831)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency prettier to v2.8.7 (#1832)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @types/node to v18.15.11 (#1833)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint to v8.37.0 (#1834)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate async-trait to 0.1.68 (#1824)
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate fern to 0.6.2 (#1825)
  crates/logger/Cargo.toml
  frontend/src-tauri/Cargo.lock
  webserver/Cargo.lock
Due: crates, tauri-app, webserver

Update ngxs-store monorepo to v3.8.0 (#1837)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular monorepo (#1801)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate quick-xml to 0.28.1 (#1826)
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate tokio to 1.27.0 (#1838)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, tauri-app, webserver

Update Rust crate console_log to v1 (#1839)
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
Due: frontend, wasm-lib

Update Rust crate reqwest to 0.11.16 (#1828)
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update angular monorepo to v15.2.5 (#1842)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v15.2.5 (#1813)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate thiserror to 1.0.40 (#1830)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate serde to 1.0.159 (#1829)
  crates/config/Cargo.toml
  crates/error-ser/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate serde_json to 1.0.95 (#1835)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update rust-wasm-bindgen monorepo (#1836)
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
Due: frontend, tauri-app, wasm-lib, webserver

Update Rust crate futures to 0.3.28 (#1843)
  crates/search/Cargo.toml
Due: crates, tauri-app, webserver

Update Rust crate warp to 0.3.4 (#1845)
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: webserver

Update dependency eslint-plugin-jsdoc to v40.1.1 (#1844)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-deprecation to v1.4.0 (#1846)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.57.1 (#1847)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Path conditions:
  crates: any of: .woodpecker/crates.yml, crates/**
  frontend: any of: .woodpecker/frontend.yml, frontend/src/**, frontend/*.json, frontend/*.js, frontend/.prettierignore, frontend/yarn.lock, frontend/src-wasm/**
  tauri-app: any of: .woodpecker/tauri-app.yml, frontend/src-tauri/**, crates/**
  wasm-lib: any of: .woodpecker/wasm-lib.yml, frontend/src-wasm/**
  webserver: any of: .woodpecker/webserver.yml, webserver/**, crates/**
