Repository Calciumdibromid/CaBr2: changes, and which Woodpecker steps are due for each by the changed paths.
All: crates, tauri-app, webserver

.woodpecker/crates.yml:

pipeline:
  crates:
    image: a6543/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/crates.yml'
        - 'crates/**'

    commands:
      - rustup default stable
      - cd crates
      - cargo fmt -- --check
      - cargo clippy --workspace --all-features -- --deny clippy::all --deny warnings
      - cargo build --workspace --all-features
      - cargo test --workspace --all-features

.woodpecker/tauri-app.yml:

pipeline:
  tauri-app:
    image: a6543/cabr2_ci:root
    pull: true
    when:
      event:
        - pull_request
      branch:
        - develop
        - main
      path:
        - '.woodpecker/tauri-app.yml'
        - 'frontend/src-tauri/**'

    commands:
      - rustup default stable
      # Fix build
      - mkdir -p frontend/dist/CaBr2 && echo "Hello" > frontend/dist/CaBr2/index.html
      - cd frontend/src-tauri
      - cargo fmt -- --check
      - cargo clippy --all-features -- --deny clippy::all --deny warnings
      - cargo build --all-features
      # does not work, because we need an `yarn install` before
      # - yarn build:release

      # TODO(692) reactivate when tests are written
      #- cargo test --all-features

.woodpecker/webserver.yml:

pipeline:
  webserver:
    image: a6543/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/webserver.yml'
        - 'webserver/**'

    commands:
      - rustup default stable
      - cd webserver
      - cargo fmt -- --check
      - cargo clippy --all-features -- --deny clippy::all --deny warnings
      - cargo build --all-features
      - cargo build --all-features --release

      # TODO(692) reactivate when tests are written
      #- cargo test --all-features

Pin dependencies (#1133)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update Rust crate handlebars to 4.2.1 (#1134)
  crates/load_save/Cargo.toml
Due: crates

Update Rust crate serde to 1.0.136 (#1137)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
Due: crates

Update Rust crate serde_json to 1.0.78 (#1138)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
Due: crates

Update Rust crate structopt to 0.3.26 (#1140)
  crates/search/Cargo.toml
Due: crates

Update Rust crate thiserror to 1.0.30 (#1141)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
Due: crates

Update angular-cli monorepo to v13.2.2 (#1144)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update dependency eslint-plugin-jsdoc to v37.7.1 (#1145)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update Rust crate regex to 1.5.4 (#1146)
  crates/load_save/Cargo.toml
Due: crates

Update Rust crate tokio to 1.16.1 (#1147)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
Due: crates

Update angular monorepo to v13.2.1 (#1148)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update angularmaterial monorepo to v13.2.1 (#1149)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update dependency karma-coverage to v2.1.1 (#1152)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update dependency karma to v6.3.15 (#1151)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update Rust crate futures to 0.3.21 (#1155)
  crates/search/Cargo.toml
Due: crates

Let renovate add lables to prs (#1139)
  renovate.json
Due: none

Update angular monorepo to v13.2.2 (#1160)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update angularmaterial monorepo to v13.2.2 (#1161)
  frontend/package.json
  frontend/yarn.lock
Due: none

Refactor .github folder and add gitea issue templates (#1136)
  .gitea/ISSUE_TEMPLATE/bug_report.md
  .gitea/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/dependabot.yml
  .github/workflows/crates.yml
  .github/workflows/frontend.yml
  .github/workflows/pull-translations.yml
  .github/workflows/push-translations.yml
  .github/workflows/spellcheck.yml
  .github/workflows/stale.yml
  .github/workflows/tauri-app-rust.yml
  .github/workflows/wasm-lib.yml
  .github/workflows/webserver.yml
Due: none

Update Rust crate serde_json to 1.0.79 (#1166)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
Due: crates, tauri-app

Update Rust crate tauri to 1.0.0-rc.2 (#1167)
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
Due: tauri-app

Update Rust crate tauri-build to 1.0.0-rc.2 (#1169)
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
Due: tauri-app

Update dependency @tauri-apps/api to v1.0.0-rc.1 (#1170)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update dependency @tauri-apps/cli to v1.0.0-rc.4 (#1171)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update dependency ts-node to v10.5.0 (#1156)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update typescript-eslint monorepo to v5.12.0 (#1157)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update dependency eslint-plugin-jsdoc to v37.9.1 (#1158)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update dependency rxjs to v7.5.4 (#1159)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update angular-cli monorepo to v13.2.3 (#1162)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update dependency karma-coverage to v2.2.0 (#1163)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update dependency karma to v6.3.16 (#1164)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update dependency eslint to v8.9.0 (#1173)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update angular-eslint monorepo to v13.1.0 (#1172)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update dependency @ngneat/transloco to v3.1.4 (#1174)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update Rust crate tokio to 1.17.0 (#1175)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, tauri-app, webserver

Update dependency eslint-plugin-jsdoc to v37.9.2 (#1177)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update angularmaterial monorepo to v13.2.3 (#1176)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update angular monorepo to v13.2.3 (#1178)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update angular-cli monorepo to v13.2.4 (#1179)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update dependency eslint-plugin-jsdoc to v37.9.4 (#1180)
  frontend/package.json
  frontend/yarn.lock
Due: none
