Repository Calciumdibromid/CaBr2: changes, and which Woodpecker steps are due for each by the changed paths.
All: crates, frontend, tauri-app, wasm-lib, webserver

crates:
  image: codeberg.org/calciumdibromid/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd crates
  - cargo fmt -- --check
  - cargo clippy --workspace --all-features -- --deny clippy::all --deny warnings
  - cargo build --workspace --all-features
  - cargo test --workspace --all-features

frontend:
  image: codeberg.org/calciumdibromid/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - rustc -V
  - cargo -V
  - node -v
  - yarn --version
  - cd frontend
  - yarn install --frozen-lockfile
  - yarn prettier -c src
  - yarn lint
  - yarn ng build --configuration production
  - yarn wasm_lib:debug
  ...

tauri-app:
  image: codeberg.org/calciumdibromid/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - mkdir -p frontend/dist/CaBr2 && echo "Hello" > frontend/dist/CaBr2/index.html
  - cd frontend/src-tauri
  - cargo fmt -- --check
  - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
  ...

wasm-lib:
  image: codeberg.org/calciumdibromid/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd frontend/src-wasm
  - cargo fmt -- --check
  - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
  - wasm-pack build --out-dir ../cabr2_wasm --dev -- --features debug_build
  ...

webserver:
  image: codeberg.org/calciumdibromid/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd webserver
  - cargo fmt -- --check
  - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
  - cargo build --locked --all-features
  - cargo build --locked --all-features --release

Update Rust crate uuid to 1.3.0 (#1764)
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: frontend, tauri-app, wasm-lib, webserver

Update typescript-eslint monorepo to v5.50.0 (#1757)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint to v8.33.0 (#1759)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-jsdoc to v39.7.5 (#1760)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency typescript to v4.9.5 (#1763)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v15.1.4 (#1767)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v15.1.3 (#1768)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular monorepo to v15.1.3 (#1769)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate serde_json to 1.0.92 (#1772)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate toml to 0.7.2 (#1774)
  crates/config/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate serde_json to 1.0.93 (#1779)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update dependency @types/node to v18.13.0 (#1771)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.51.0 (#1773)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency prettier to v2.8.4 (#1775)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular monorepo to v15.1.4 (#1776)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v15.1.4 (#1777)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v15.1.5 (#1778)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-eslint monorepo to v15.2.1 (#1780)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint to v8.34.0 (#1781)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-jsdoc to v40 (#1782)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency webpack-bundle-analyzer to v4.8.0 (#1783)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.52.0 (#1784)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate once_cell to 1.17.1 (#1785)
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: webserver

Update angular monorepo to v15.1.5 (#1786)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v15.1.6 (#1787)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v15.1.5 (#1788)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @types/node to v18.14.0 (#1789)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @ngneat/transloco to v4.2.5 (#1790)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.53.0 (#1791)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v15.2.0 (#1792)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular monorepo to v15.2.0 (#1793)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @types/node to v18.14.1 (#1795)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate console_log to 0.2.1 (#1796)
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
Due: frontend, wasm-lib

Update dependency eslint to v8.35.0 (#1797)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @types/node to v18.14.4 (#1798)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.54.0 (#1799)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v15.2.1 (#1800)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate tokio to 1.26.0 (#1802)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, tauri-app, webserver

Update Rust crate async-trait to 0.1.66 (#1805)
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate serde_json to 1.0.94 (#1807)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Path conditions:
  crates: any of: .woodpecker/crates.yml, crates/**
  frontend: any of: .woodpecker/frontend.yml, frontend/src/**, frontend/*.json, frontend/*.js, frontend/.prettierignore, frontend/yarn.lock, frontend/src-wasm/**
  tauri-app: any of: .woodpecker/tauri-app.yml, frontend/src-tauri/**, crates/**
  wasm-lib: any of: .woodpecker/wasm-lib.yml, frontend/src-wasm/**
  webserver: any of: .woodpecker/webserver.yml, webserver/**, crates/**
