Repository Calciumdibromid/CaBr2: changes, and which Woodpecker steps are due for each by the changed paths.
All: crates, tauri-app, webserver

crates:
  image: a6543/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd crates
  - cargo fmt -- --check
  - cargo clippy --workspace --all-features -- --deny clippy::all --deny warnings
  - cargo build --workspace --all-features
  - cargo test --workspace --all-features

tauri-app:
  image: a6543/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - mkdir -p frontend/dist/CaBr2 && echo "Hello" > frontend/dist/CaBr2/index.html
  - cd frontend/src-tauri
  - cargo fmt -- --check
  - cargo clippy --all-features -- --deny clippy::all --deny warnings
  - cargo build --all-features

webserver:
  image: a6543/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd webserver
  - cargo fmt -- --check
  - cargo clippy --all-features -- --deny clippy::all --deny warnings
  - cargo build --all-features
  - cargo build --all-features --release

Update dependency @types/jasmine to v4 (#1226)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update angular monorepo to v13.3.0 (#1227)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update angularmaterial monorepo to v13.3.0 (#1229)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update angular-cli monorepo to v13.3.0 (#1228)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update dependency @ngneat/transloco to v3.2.0 (#1234)
  frontend/package.json
  frontend/yarn.lock
Due: none

Add "--locked" to all cargo commands (#1235)
  .woodpecker/tauri-app.yml
  .woodpecker/wasm-lib.yml
  .woodpecker/webserver.yml
  frontend/src-tauri/Cargo.lock
  webserver/Cargo.lock
Due: tauri-app, webserver

Change github-urls to codeberg (#1238)
  CHANGELOG.md
  assets/translations/en_us.json
  frontend/src-tauri/Cargo.toml
  frontend/src-wasm/Cargo.toml
  frontend/src/app/components/report-bug/report-bug.component.html
  webserver/Cargo.toml
Due: tauri-app, webserver

Update typescript-eslint monorepo to v5.16.0 (#1236)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update dependency eslint-config-airbnb-typescript to v16.1.4 (#1230)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update dependency eslint-plugin-jsdoc to v38.0.6 (#1233)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update Rust crate log to 0.4.16 (#1239)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, tauri-app, webserver

Update angularmaterial monorepo to v13.3.1 (#1241)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update dependency prettier to v2.6.1 (#1244)
  frontend/package.json
  frontend/yarn.lock
Due: none

Improve renovate config (#1243)
  renovate.json
Due: none

remove unneeded angular router dependency (#1246)
  frontend/package.json
  frontend/yarn.lock
Due: none

Fix renovate config (#1247)
  renovate.json
Due: none

add autofocus to all inputs when created (#1249)
  frontend/src/app/@core/directives/autofocus.directive.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/edit-substance-data/edit-substance-data.component.html
  frontend/src/app/components/modifiable-string-list/text-area-field/text-area-field.component.html
  frontend/src/app/components/modifiable-string-list/text-area-field/text-area-field.component.ts
  frontend/src/app/components/search/selected-search/selected-search.component.html
Due: none

update cargo.toml because tauri cli add an empty feature list (#1250)
  frontend/src-tauri/Cargo.toml
Due: tauri-app

Download pdf instead of opening in new tab (#1251)
  frontend/src/app/@core/services/loadSave/web/loadSave.service.ts
  frontend/src/app/components/progress-dialog/progress-dialog.component.ts
  webserver/src/impls/load_save.rs
  webserver/src/main.rs
Due: webserver

remove horizontal scrollbar (#1252)
  frontend/src/app/components/edit-substance-data/edit-substance-data.component.html
  frontend/src/app/components/edit-substance-data/edit-substance-data.component.scss
Due: none

Update Rust crate async-trait to 0.1.53 (#1255)
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, tauri-app, webserver

Update dependency typescript to v4.6.3 (#1242)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update dependency eslint-plugin-jsdoc to v38.0.7 (#1257)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update dependency eslint to v8.12.0 (#1256)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update dependency @ngneat/transloco to v4 (#1240)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update dependency eslint-plugin-jsdoc to v38.0.8 (#1258)
  frontend/package.json
  frontend/yarn.lock
Due: none

Add argument parsing to webserver (#991)
  webserver/Cargo.lock
  webserver/Cargo.toml
  webserver/src/impls/load_save.rs
  webserver/src/main.rs
Due: webserver

Fix security things bug caused by ngxs rewrite (#1260)
  frontend/src/app/@core/interfaces/string-list-state-model.interface.ts
  frontend/src/app/@core/operators/string-list-operators.ts
  frontend/src/app/@core/states/@generic.state.ts
  frontend/src/app/@core/states/disposal.state.ts
  frontend/src/app/@core/states/human-and-environment-danger.state.ts
  frontend/src/app/@core/states/incase-of-danger.state.ts
  frontend/src/app/@core/states/rules-of-conduct.state.ts
  frontend/src/app/@core/utils/compare.ts
  frontend/src/app/@core/utils/forms.helper.ts
  frontend/src/app/components/edit-substance-data/edit-substance-data.component.ts
  frontend/src/app/components/modifiable-string-list/modifiable-string-list.component.ts
  frontend/src/app/components/modifiable-string-list/text-area-field/text-area-field.component.ts
  frontend/src/app/components/preview/preview.component.ts
  frontend/src/app/components/security-things/security-things.component.html
  frontend/src/app/components/security-things/security-things.component.ts
Due: none

Add changelog 0.5.2 (#1261)
  CHANGELOG.md
  frontend/package.json
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: tauri-app, webserver

Update typescript-eslint monorepo to v5.17.0 (#1264)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update Rust crate tauri to 1.0.0-rc.5 (#1265)
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
Due: tauri-app

Update Rust crate tauri-build to 1.0.0-rc.5 (#1266)
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
Due: tauri-app

CI: use global branch filter for pipelines (#1268)
  .woodpecker/crates.yml
  .woodpecker/frontend.yml
  .woodpecker/tauri-app.yml
  .woodpecker/wasm-lib.yml
  .woodpecker/webserver.yml
Due: crates, tauri-app, webserver

Update dependency @tauri-apps/api to v1.0.0-rc.3 (#1269)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update dependency @tauri-apps/cli to v1.0.0-rc.8 (#1270)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update dependency eslint-plugin-jsdoc to v38.1.3 (#1262)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update Rust crate tauri to 1.0.0-rc.6 (#1271)
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
Due: tauri-app

Update dependency eslint-plugin-jsdoc to v38.1.4 (#1272)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update angularmaterial monorepo to v13.3.2 (#1275)
  frontend/package.json
  frontend/yarn.lock
Due: none

Update dependency karma-jasmine to v4.0.2 (#1274)
  frontend/package.json
  frontend/yarn.lock
Due: none

Path conditions:
  crates: any of: .woodpecker/crates.yml, crates/**
  tauri-app: any of: .woodpecker/tauri-app.yml, frontend/src-tauri/**
  webserver: any of: .woodpecker/webserver.yml, webserver/**
