Repository Calciumdibromid/CaBr2: changes, and which Woodpecker steps are due for each by the changed paths.
All: crates, frontend, tauri-app, wasm-lib, webserver

.woodpecker/crates.yml:

branches: ["develop", "main"]

pipeline:
  crates:
    image: codeberg.org/calciumdibromid/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/crates.yml'
        - 'crates/**'

    commands:
      - rustup default stable
      - cd crates
      - cargo fmt -- --check
      - cargo clippy --workspace --all-features -- --deny clippy::all --deny warnings
      - cargo build --workspace --all-features
      - cargo test --workspace --all-features

.woodpecker/frontend.yml:

branches: ["develop", "main"]

pipeline:
  frontend:
    image: codeberg.org/calciumdibromid/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/frontend.yml'
        - 'frontend/src/**'
        - 'frontend/*.json'
        - 'frontend/*.js'
        - 'frontend/.prettierignore'
        - 'frontend/yarn.lock'
        - 'frontend/src-wasm/**'

    commands:
      - rustup default stable
      - rustc -V
      - cargo -V
      - node -v
      - yarn --version
      - cd frontend
      - yarn install --frozen-lockfile
      - yarn prettier -c src
      - yarn lint
      - yarn ng build --configuration production
      # debug compiles faster and everything gets checked in the dedicated wasm ci pipeline
      - yarn wasm_lib:debug
      - yarn ng build --configuration webProd

.woodpecker/tauri-app.yml:

branches: ["develop", "main"]

pipeline:
  tauri-app:
    image: codeberg.org/calciumdibromid/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/tauri-app.yml'
        - 'frontend/src-tauri/**'
        - 'crates/**'

    commands:
      - rustup default stable
      # Fix build
      - mkdir -p frontend/dist/CaBr2 && echo "Hello" > frontend/dist/CaBr2/index.html
      - cd frontend/src-tauri
      - cargo fmt -- --check
      - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
      - cargo build --locked --all-features
      # does not work, because we need a `yarn install` before
      # - yarn build:release

      # TODO(692) reactivate when tests are written
      #- cargo test --locked --all-features

.woodpecker/wasm-lib.yml:

branches: ["develop", "main"]

pipeline:
  wasm-lib:
    image: codeberg.org/calciumdibromid/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/wasm-lib.yml'
        - 'frontend/src-wasm/**'

    commands:
      - rustup default stable
      - cd frontend/src-wasm
      - cargo fmt -- --check
      - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
      - wasm-pack build --out-dir ../cabr2_wasm --dev -- --features debug_build
      - wasm-pack build --out-dir ../cabr2_wasm --release

      # TODO(692) reactivate when tests are written
      #- cargo test --locked --all-features

.woodpecker/webserver.yml:

branches: ["develop", "main"]

pipeline:
  webserver:
    image: codeberg.org/calciumdibromid/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/webserver.yml'
        - 'webserver/**'
        - 'crates/**'

    commands:
      - rustup default stable
      - cd webserver
      - cargo fmt -- --check
      - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
      - cargo build --locked --all-features
      - cargo build --locked --all-features --release

      # TODO(692) reactivate when tests are written
      #- cargo test --all-features

Update dependency prettier to v2.8.2 (#1708)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Symlink LICENSE to silence wasm-pack (#1718)
  frontend/src-wasm/LICENSE
Due: frontend, wasm-lib

Update angular monorepo to v15.1.0 (#1719)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency typescript to v4.9.4 (#1642)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Translations update from Weblate (#1725)
  assets/translations/de_by.json
  assets/translations/de_de.json
  assets/translations/en_us.json
  assets/translations/fr.json
  assets/translations/hr_hr.json
  assets/translations/it.json
  assets/translations/ru_ru.json
Due: none

Update angular-cli monorepo to v15.1.1 (#1720)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Review and fix all cargo dependencies (#1722)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update angularmaterial monorepo to v15.1.0 (#1723)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-import to v2.27.4 (#1724)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Move translation to Codeberg translate (#1726)
  README.md
  contrib/pull-translations
  contrib/push-translations
  crowdin.example.yml
Due: none

Update dependency prettier to v2.8.3 (#1731)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-eslint monorepo to v15.2.0 (#1733)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint to v8.32.0 (#1734)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate tokio to 1.24.2 (#1737)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, tauri-app, webserver

frontend refactoring (#1701)
  frontend/src/app/@core/models/substances.model.ts
  frontend/src/app/@core/services/native/web/browser.service.ts
  frontend/src/app/@core/states/substance-data.state.ts
  frontend/src/app/@core/types.ts
  frontend/src/app/app.component.ts
  frontend/src/app/components/alertsnackbar/alertsnackbar.component.ts
  frontend/src/app/components/bug-report-button/bug-report-button.component.ts
  frontend/src/app/components/consent/consent.component.ts
  frontend/src/app/components/edit-substance-data/edit-substance-data.component.html
  frontend/src/app/components/edit-substance-data/edit-substance-data.component.ts
  frontend/src/app/components/export-buttons/export-buttons.component.ts
  frontend/src/app/components/header/header.component.ts
  frontend/src/app/components/manual/manual.component.ts
  frontend/src/app/components/modifiable-string-list/modifiable-string-list.component.html
  frontend/src/app/components/modifiable-string-list/modifiable-string-list.component.scss
  frontend/src/app/components/modifiable-string-list/modifiable-string-list.component.ts
  frontend/src/app/components/modifiable-string-list/text-area-field/text-area-field.component.ts
  frontend/src/app/components/navbar-menu/navbar-menu.component.ts
  frontend/src/app/components/preview/preview.component.html
  frontend/src/app/components/preview/preview.component.ts
  frontend/src/app/components/progress-dialog/progress-dialog.component.ts
  frontend/src/app/components/report-bug/report-bug.component.ts
  frontend/src/app/components/search/search-dialog/search-dialog.component.html
  frontend/src/app/components/search/search-dialog/search-dialog.component.ts
  frontend/src/app/components/search/search.component.html
  frontend/src/app/components/search/search.component.scss
  frontend/src/app/components/search/search.component.ts
  frontend/src/app/components/search/selected-search/selected-search.component.html
  frontend/src/app/components/search/selected-search/selected-search.component.ts
  frontend/src/app/components/security-things/security-things.component.ts
  frontend/src/app/components/settings/settings.component.html
  frontend/src/app/components/settings/settings.component.ts
  frontend/src/app/components/yes-no-dialog/yes-no-dialog.component.ts
  frontend/src/app/onepager/onepager.component.scss
  frontend/src/styles.scss
Due: frontend

Update dependency eslint-plugin-import to v2.27.5 (#1736)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.48.2 (#1735)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-jsdoc to v39.6.6 (#1738)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular monorepo to v15.1.1 (#1739)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v15.1.2 (#1740)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update tauri monorepo (#1742)
  frontend/package.json
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/yarn.lock
Due: frontend, tauri-app

Update dependency eslint-plugin-jsdoc to v39.6.7 (#1744)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v15.1.1 (#1741)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Set minimal window constraint to 300x300 (#1748)
  frontend/src-tauri/src/main.rs
Due: tauri-app

Update Rust crate reqwest to 0.11.14 (#1743)
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate toml to 0.5.11 (#1745)
  crates/config/Cargo.toml
  frontend/src-tauri/Cargo.lock
  webserver/Cargo.lock
Due: crates, tauri-app, webserver

Update Rust crate async-trait to 0.1.62 (#1746)
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

remove migration of config in local storage (#1749)
  frontend/src/main.ts
Due: frontend

Update angular monorepo to v15.1.2 (#1751)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v15.1.3 (#1752)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v15.1.2 (#1753)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-jsdoc to v39.6.9 (#1754)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-jsdoc to v39.7.0 (#1758)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency tslib to v2.5.0 (#1756)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

fix clippy lints for rust 1.67 (#1765)
  crates/load_save/src/pdf/mod.rs
  crates/logger/src/lib.rs
  crates/search/contrib/gestis/helper.rs
  crates/search/src/handler.rs
  webserver/src/impls/load_save.rs
  webserver/src/impls/search.rs
Due: crates, tauri-app, webserver

Update rust-wasm-bindgen monorepo (#1766)
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
Due: frontend, wasm-lib

Update Rust crate async-trait to 0.1.64 (#1750)
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate toml to 0.7.1 (#1755)
  crates/config/Cargo.toml
  frontend/src-tauri/Cargo.lock
  webserver/Cargo.lock
Due: crates, tauri-app, webserver

Update Rust crate tokio to 1.25.0 (#1761)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, tauri-app, webserver

Update Rust crate futures to 0.3.26 (#1762)
  crates/search/Cargo.toml
Due: crates, tauri-app, webserver
