Repository Calciumdibromid/CaBr2: changes, and which Woodpecker steps are due for each by the changed paths.
All: crates, frontend, tauri-app, wasm-lib, webserver

.woodpecker/crates.yml:

branches: ["develop", "main"]

pipeline:
  crates:
    image: codeberg.org/calciumdibromid/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/crates.yml'
        - 'crates/**'

    commands:
      - rustup default stable
      - cd crates
      - cargo fmt -- --check
      - cargo clippy --workspace --all-features -- --deny clippy::all --deny warnings
      - cargo build --workspace --all-features
      - cargo test --workspace --all-features

.woodpecker/frontend.yml:

branches: ["develop", "main"]

pipeline:
  frontend:
    image: a6543/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/frontend.yml'
        - 'frontend/src/**'
        - 'frontend/*.json'
        - 'frontend/*.js'
        - 'frontend/.prettierignore'
        - 'frontend/yarn.lock'
        - 'frontend/src-wasm/**'

    commands:
      - rustup default stable
      - cd frontend
      - yarn install --frozen-lockfile
      - yarn prettier -c src
      - yarn lint
      - yarn ng build --configuration production
      # debug compiles faster and everything gets checked in the dedicated wasm ci pipeline
      - yarn wasm_lib:debug
      - yarn ng build --configuration webProd

.woodpecker/tauri-app.yml:

pipeline:
  tauri-app:
    image: a6543/cabr2_ci:root
    pull: true
    when:
      event:
        - pull_request
      branch:
        - develop
        - main
      path:
        - '.woodpecker/tauri-app.yml'
        - 'frontend/src-tauri/**'

    commands:
      - rustup default stable
      # Fix build
      - mkdir -p frontend/dist/CaBr2 && echo "Hello" > frontend/dist/CaBr2/index.html
      - cd frontend/src-tauri
      - cargo fmt -- --check
      - cargo clippy --all-features -- --deny clippy::all --deny warnings
      - cargo build --all-features
      # does not work, because we need an `yarn install` before
      # - yarn build:release

      # TODO(692) reactivate when tests are written
      #- cargo test --all-features

.woodpecker/wasm-lib.yml:

branches: ["develop", "main"]

pipeline:
  wasm-lib:
    image: codeberg.org/calciumdibromid/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/wasm-lib.yml'
        - 'frontend/src-wasm/**'

    commands:
      - rustup default stable
      - cd frontend/src-wasm
      - cargo fmt -- --check
      - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
      - wasm-pack build --out-dir ../cabr2_wasm --dev -- --features debug_build
      - wasm-pack build --out-dir ../cabr2_wasm --release

      # TODO(692) reactivate when tests are written
      #- cargo test --locked --all-features

.woodpecker/webserver.yml:

branches: ["develop", "main"]

pipeline:
  webserver:
    image: a6543/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/webserver.yml'
        - 'webserver/**'

    commands:
      - rustup default stable
      - cd webserver
      - cargo fmt -- --check
      - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
      - cargo build --locked --all-features
      - cargo build --locked --all-features --release

      # TODO(692) reactivate when tests are written
      #- cargo test --all-features

Fix clippy lints for rust 1.66 (#1676)
  crates/load_save/src/pdf/merge.rs
Due: crates

Update Rust crate serde to 1.0.151 (#1672)
  crates/config/Cargo.toml
  crates/error-ser/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate toml to 0.5.10 (#1673)
  crates/config/Cargo.toml
  frontend/src-tauri/Cargo.lock
  webserver/Cargo.lock
Due: crates, tauri-app, webserver

Update Rust crate async-trait to 0.1.60 (#1675)
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate handlebars to 4.3.6 (#1677)
  crates/load_save/Cargo.toml
  frontend/src-tauri/Cargo.lock
  webserver/Cargo.lock
Due: crates, tauri-app, webserver

Update Rust crate serde_json to 1.0.91 (#1678)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate thiserror to 1.0.38 (#1679)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

migrate-to-angular-15 (#1664)
  frontend/angular.json
  frontend/package.json
  frontend/src/app/app.component.ts
  frontend/src/app/components/bug-report-button/bug-report-button.component.html
  frontend/src/app/components/bug-report-button/bug-report-button.component.scss
  frontend/src/app/components/consent/consent.component.html
  frontend/src/app/components/edit-substance-data/edit-substance-data.component.html
  frontend/src/app/components/edit-substance-data/edit-substance-data.component.scss
  frontend/src/app/components/header/header.component.html
  frontend/src/app/components/header/header.component.scss
  frontend/src/app/components/modifiable-string-list/modifiable-string-list.component.html
  frontend/src/app/components/modifiable-string-list/modifiable-string-list.component.scss
  frontend/src/app/components/modifiable-string-list/text-area-field/text-area-field.component.scss
  frontend/src/app/components/navbar-menu/navbar-menu.component.html
  frontend/src/app/components/navbar-menu/navbar-menu.component.scss
  frontend/src/app/components/preview/preview.component.html
  frontend/src/app/components/progress-dialog/progress-dialog.component.html
  frontend/src/app/components/report-bug/report-bug.component.html
  frontend/src/app/components/scrollbutton/scrollbutton.component.html
  frontend/src/app/components/scrollbutton/scrollbutton.component.scss
  frontend/src/app/components/search/search-dialog/search-dialog.component.html
  frontend/src/app/components/search/search.component.html
  frontend/src/app/components/search/search.component.scss
  frontend/src/app/customIcons.ts
  frontend/src/app/global-styles.scss
  frontend/src/app/onepager/onepager.component.html
  frontend/src/assets/icons/arrow.svg
  frontend/src/assets/icons/bug.svg
  frontend/src/assets/icons/flask.svg
  frontend/src/assets/icons/magnifier.svg
  frontend/src/assets/icons/menu.svg
  frontend/src/assets/icons/puzzle.svg
  frontend/src/styles.scss
  frontend/src/test.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Due: frontend

Update tauri monorepo (#1682)
  frontend/package.json
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/yarn.lock
Due: frontend, tauri-app

Update Rust crate tokio to 1.23.0 (#1687)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, tauri-app, webserver

Update Rust crate base64 to 0.20.0 (#1683)
  crates/config/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update dependency rxjs to v7.8.0 (#1668)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency prettier to v2.8.1 (#1671)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @types/node to v18.11.17 (#1681)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular monorepo to v15.0.4 (#1684)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v15.0.4 (#1685)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v15.0.3 (#1686)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Add cargo and cargo-foreach config (#1691)
  .cargo/config.toml
  .foreach.toml
Due: none

Update dependency @ngneat/transloco to v4.2.1 (#1688)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint to v8.30.0 (#1689)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.47.0 (#1690)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.47.1 (#1693)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate quick-xml to 0.27.1 (#1692)
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate serde to 1.0.152 (#1694)
  crates/config/Cargo.toml
  crates/error-ser/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate once_cell to 1.17.0 (#1696)
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: webserver

Update dependency eslint to v8.31.0 (#1697)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @types/node to v18.11.18 (#1695)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-config-prettier to v8.6.0 (#1698)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate tokio to 1.24.1 (#1703)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, tauri-app, webserver

Update angularmaterial monorepo to v15.0.4 (#1702)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate async-trait to 0.1.61 (#1707)
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

fix false positive successful pipelines (#1710)
  .woodpecker/tauri-app.yml
  .woodpecker/wasm-lib.yml
  .woodpecker/webserver.yml
Due: tauri-app, wasm-lib, webserver

Update Rust crate base64 to 0.21.0 (#1709)
  crates/config/Cargo.toml
  crates/config/src/handler.rs
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate regex to 1.7.1 (#1711)
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update typescript-eslint monorepo to v5.48.1 (#1704)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v15.0.5 (#1705)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Let ci print env (#1713)
  .woodpecker/crates.yml
  .woodpecker/frontend.yml
  .woodpecker/tauri-app.yml
  .woodpecker/wasm-lib.yml
  .woodpecker/webserver.yml
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update dependency @ngneat/transloco to v4.2.2 (#1706)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Extract logger implementations (#1716)
  frontend/angular.json
  frontend/src/app/@core/utils/logger.ts
  frontend/src/app/@core/utils/logger/logger-impl.ts
  frontend/src/app/@core/utils/logger/web.logger-impl.ts
Due: frontend
