Repository Calciumdibromid/CaBr2: changes, and which Woodpecker steps are due for each by the changed paths.
All: crates, frontend, tauri-app, wasm-lib, webserver

crates:
  image: codeberg.org/calciumdibromid/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd crates
  - cargo fmt -- --check
  - cargo clippy --workspace --all-features -- --deny clippy::all --deny warnings
  - cargo build --workspace --all-features
  - cargo test --workspace --all-features

frontend:
  image: a6543/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd frontend
  - yarn install --frozen-lockfile
  - yarn prettier -c src
  - yarn lint
  - yarn ng build --configuration production
  - yarn wasm_lib:debug
  - yarn ng build --configuration webProd

tauri-app:
  image: a6543/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - mkdir -p frontend/dist/CaBr2 && echo "Hello" > frontend/dist/CaBr2/index.html
  - cd frontend/src-tauri
  - cargo fmt -- --check
  - cargo clippy --all-features -- --deny clippy::all --deny warnings
  - cargo build --all-features

wasm-lib:
  image: codeberg.org/calciumdibromid/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd frontend/src-wasm
  - cargo fmt -- --check
  - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
  - wasm-pack build --out-dir ../cabr2_wasm --dev -- --features debug_build
  ...

webserver:
  image: a6543/cabr2_ci:root
  pull: true
  commands:
  - rustup default stable
  - cd webserver
  - cargo fmt -- --check
  - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
  - cargo build --locked --all-features
  - cargo build --locked --all-features --release

Update angularmaterial monorepo to v14.2.4 (#1575)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v14.2.5 (#1576)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate uuid to 1.2.1 (#1578)
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: webserver

Update Rust crate serde_json to 1.0.86 (#1579)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update dependency eslint to v8.25.0 (#1577)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.40.0 (#1580)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v14.2.6 (#1581)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular monorepo to v14.2.6 (#1582)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v14.2.5 (#1583)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.40.1 (#1585)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Fix `rename-all` for `Unit` in `SubstanceData` (#1587)
  crates/types/src/lib.rs
  webserver/Cargo.lock
Due: crates, webserver

Update Rust crate futures to 0.3.25 (#1595)
  crates/search/Cargo.toml
Due: crates

Update Rust crate serde_json to 1.0.87 (#1594)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate async-trait to 0.1.58 (#1588)
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib

release/0.5.3 (#1592)
  CHANGELOG.md
  frontend/package.json
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: frontend, tauri-app, wasm-lib, webserver

Update dependency eslint-plugin-jsdoc to v39.3.14 (#1586)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular monorepo to v14.2.7 (#1593)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate serde to 1.0.147 (#1597)
  crates/config/Cargo.toml
  crates/error-ser/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate base64 to 0.13.1 (#1598)
  crates/config/Cargo.toml
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, wasm-lib, webserver

Update Rust crate quick-xml to 0.26.0 (#1601)
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update dependency eslint-plugin-jsdoc to v39.3.21 (#1600)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint to v8.26.0 (#1599)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-jsdoc to v39.3.24 (#1603)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.41.0 (#1604)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @types/node to v18 (#1605)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency webpack-bundle-analyzer to v4.7.0 (#1608)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-jsdoc to v39.3.25 (#1607)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @types/node to v18.11.6 (#1609)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v14.2.6 (#1613)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular monorepo to v14.2.8 (#1611)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v14.2.7 (#1610)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @types/node to v18.11.7 (#1612)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency jasmine-core to v4.5.0 (#1616)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-jsdoc to v39.4.0 (#1617)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @types/node to v18.11.8 (#1618)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate once_cell to 1.16.0 (#1615)
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: webserver

Update typescript-eslint monorepo to v5.42.0 (#1619)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency tslib to v2.4.1 (#1620)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @types/node to v18.11.9 (#1621)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-jsdoc to v39.5.0 (#1622)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Path conditions:
  crates: any of: .woodpecker/crates.yml, crates/**
  frontend: any of: .woodpecker/frontend.yml, frontend/src/**, frontend/*.json, frontend/*.js, frontend/.prettierignore, frontend/yarn.lock, frontend/src-wasm/**
  tauri-app: any of: .woodpecker/tauri-app.yml, frontend/src-tauri/**
  wasm-lib: any of: .woodpecker/wasm-lib.yml, frontend/src-wasm/**
  webserver: any of: .woodpecker/webserver.yml, webserver/**
