Repository Calciumdibromid/CaBr2: changes, and which Woodpecker steps are due for each by the changed paths.
All: crates, frontend, tauri-app, wasm-lib, webserver

.woodpecker/crates.yml:

branches: ["develop", "main"]

pipeline:
  crates:
    image: codeberg.org/calciumdibromid/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/crates.yml'
        - 'crates/**'

    commands:
      - rustup default stable
      - cd crates
      - cargo fmt -- --check
      - cargo clippy --workspace --all-features -- --deny clippy::all --deny warnings
      - cargo build --workspace --all-features
      - cargo test --workspace --all-features

.woodpecker/frontend.yml:

branches: ["develop", "main"]

pipeline:
  frontend:
    image: codeberg.org/calciumdibromid/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/frontend.yml'
        - 'frontend/src/**'
        - 'frontend/*.json'
        - 'frontend/*.js'
        - 'frontend/.prettierignore'
        - 'frontend/yarn.lock'
        - 'frontend/src-wasm/**'

    commands:
      - rustup default stable
      - rustc -V
      - cargo -V
      - node -v
      - yarn --version
      - cd frontend
      - yarn install --frozen-lockfile
      - yarn prettier -c src
      - yarn lint
      - yarn ng build --configuration production
      # debug compiles faster and everything gets checked in the dedicated wasm ci pipeline
      - yarn wasm_lib:debug
      - yarn ng build --configuration webProd

.woodpecker/tauri-app.yml:

branches: ["develop", "main"]

pipeline:
  tauri-app:
    image: codeberg.org/calciumdibromid/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/tauri-app.yml'
        - 'frontend/src-tauri/**'
        - 'crates/**'

    commands:
      - rustup default stable
      # Fix build
      - mkdir -p frontend/dist/CaBr2 && echo "Hello" > frontend/dist/CaBr2/index.html
      - cd frontend/src-tauri
      - cargo fmt -- --check
      - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
      - cargo build --locked --all-features
      # does not work, because we need a `yarn install` before
      # - yarn build:release

      # TODO(692) reactivate when tests are written
      #- cargo test --locked --all-features

.woodpecker/wasm-lib.yml:

branches: ["develop", "main"]

pipeline:
  wasm-lib:
    image: codeberg.org/calciumdibromid/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/wasm-lib.yml'
        - 'frontend/src-wasm/**'

    commands:
      - rustup default stable
      - cd frontend/src-wasm
      - cargo fmt -- --check
      - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
      - wasm-pack build --out-dir ../cabr2_wasm --dev -- --features debug_build
      - wasm-pack build --out-dir ../cabr2_wasm --release

      # TODO(692) reactivate when tests are written
      #- cargo test --locked --all-features

.woodpecker/webserver.yml:

branches: ["develop", "main"]

pipeline:
  webserver:
    image: codeberg.org/calciumdibromid/cabr2_ci:root
    pull: true
    when:
      path:
        - '.woodpecker/webserver.yml'
        - 'webserver/**'
        - 'crates/**'

    commands:
      - rustup default stable
      - cd webserver
      - cargo fmt -- --check
      - cargo clippy --locked --all-features -- --deny clippy::all --deny warnings
      - cargo build --locked --all-features
      - cargo build --locked --all-features --release

      # TODO(692) reactivate when tests are written
      #- cargo test --all-features

Update Rust crate uuid to 1.3.3 (#1899)
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: webserver

Update dependency @types/node to v18.16.16 (#1906)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @fontsource/material-icons to v5 (#1905)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @tauri-apps/cli to v1.3.1 (#1886)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-jsdoc to v46 (#1913)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency jasmine-core to v5 (#1914)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular monorepo to v16.0.4 (#1915)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-cli monorepo to v16.0.4 (#1916)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v16.0.3 (#1918)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angular-eslint monorepo to v16.0.3 (#1917)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update typescript-eslint monorepo to v5.59.9 (#1919)
  frontend/yarn.lock
Due: frontend

Update dependency @types/jasmine to v4.3.2 (#1920)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency tslib to v2.5.3 (#1921)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency webpack-bundle-analyzer to v4.9.0 (#1925)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint to v8.42.0 (#1923)
  frontend/yarn.lock
Due: frontend

Update Rust crate log to 0.4.19 (#1911)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate handlebars to 4.3.7 (#1894)
  crates/load_save/Cargo.toml
  frontend/src-tauri/Cargo.lock
  webserver/Cargo.lock
Due: crates, tauri-app, webserver

Update Rust crate regex to 1.8.4 (#1912)
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate chrono to 0.4.26 (#1909)
  crates/load_save/Cargo.toml
  crates/logger/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-wasm/Cargo.toml
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate reqwest to 0.11.18 (#1895)
  crates/search/Cargo.toml
Due: crates, tauri-app, webserver

Update Rust crate serde to 1.0.164 (#1896)
  crates/config/Cargo.toml
  crates/error-ser/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.toml
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate lopdf to 0.31.0 (#1904)
  crates/load_save/Cargo.toml
  frontend/src-tauri/Cargo.lock
  webserver/Cargo.lock
Due: crates, tauri-app, webserver

Update Rust crate base64 to 0.21.2 (#1907)
  crates/config/Cargo.toml
Due: crates, tauri-app, webserver

Update Rust crate tokio to 1.28.2 (#1926)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  crates/types/Cargo.toml
  frontend/src-tauri/Cargo.toml
  webserver/Cargo.toml
Due: crates, tauri-app, webserver

Update Rust crate once_cell to 1.18.0 (#1932)
  webserver/Cargo.toml
Due: webserver

Add dockerfiles for web app and webserver (#1822)
  .dockerignore
  crates/logger/src/lib.rs
  dockerfiles/app/Dockerfile
  dockerfiles/app/default.conf
  dockerfiles/webserver/Dockerfile
  webserver/Cargo.lock
  webserver/Cargo.toml
  webserver/src/main.rs
Due: crates, tauri-app, webserver

Add ci file for building docker images (#1935)
  .woodpecker/docker.yml
Due: none

Update angular monorepo (#1927)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency typescript to v5.1.3 (#1922)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update angularmaterial monorepo to v16.1.1 (#1929)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency eslint-plugin-jsdoc to v46.2.6 (#1933)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency jasmine-core to v5.0.1 (#1934)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update dependency @types/node to v18.16.18 (#1931)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update Rust crate uuid to 1.3.4 (#1938)
  webserver/Cargo.lock
  webserver/Cargo.toml
Due: webserver

Update Rust crate quick-xml to 0.29.0 (#1940)
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update Rust crate serde_json to 1.0.99 (#1941)
  crates/config/Cargo.toml
  crates/load_save/Cargo.toml
  crates/search/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/Cargo.toml
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver

Update tauri monorepo (#1949)
  frontend/package.json
  frontend/src-tauri/Cargo.toml
  frontend/yarn.lock
Due: frontend, tauri-app

Update Rust crate uuid to 1.4.0 (#1948)
  webserver/Cargo.toml
Due: webserver

Update rust-wasm-bindgen monorepo (#1947)
  frontend/src-wasm/Cargo.lock
  frontend/src-wasm/Cargo.toml
Due: frontend, wasm-lib

Update Rust crate toml to 0.7.5 (#1898)
  crates/config/Cargo.toml
  frontend/src-tauri/Cargo.lock
  frontend/src-wasm/Cargo.lock
  webserver/Cargo.lock
Due: crates, frontend, tauri-app, wasm-lib, webserver
